body {
    margin: 0;
}

/* Default Table Style */
table {
    color: #333;
    background: white;
    border: 1px solid grey;
    font-size: 12pt;
    border-collapse: collapse;
    width: 100%;
}

table thead th,
table tfoot th {
    color: #777;
    background: rgba(0, 0, 0, .1);
}

table th,
table td {
    padding: .5em;
    border: 1px solid lightgrey;
}

header {
    background-color: rgba(25, 177, 25, 0.808);
}

header nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    padding: 10px 50px;
}

header nav ul li {
    list-style: none;
}

header nav ul li.header-logo a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
}

header nav ul li.header-logo a h1 {
    margin-left: 15px;
    font-size: 26px;
}

.header-actions {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    gap: 60px;
}

.header-actions .search-container {
    width: 490px;
    display: block;
    margin: 0 auto;
}

.header-actions .search-container form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid whitesmoke;
}

.header-actions input#searchBar {
    margin: 0 auto;
    width: 100%;
    height: 34px;
    padding: 0 20px;
    font-size: 1rem;
    border: 1px solid whitesmoke;
    outline: none;
}

.header-actions input#searchBar:focus {
    border: 1px solid #008ABF;
    transition: 0.35s ease;
    color: #008ABF;
}

.header-actions .search-icon {
    height: 25px;
}

.header-actions button {
    background-color: white;
    border-color: white;
    border: 0;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown>span {
    color: white;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 24px 28px;
    z-index: 1;
    right: -25px;
}

.dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
}

.dropdown-content .dropdown-child {
    margin: 5px 0;
}

main {
    margin: 20px 20px;
}

.movie-container {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.movie-container__home {
    justify-content: flex-start;
    flex-wrap: wrap;
}

.movie-element {
    width: calc(20% - 52px);
    margin: 25px 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid;
    padding: 20px 0;
    border-radius: 10px;
}

.movie-element__image {
    width: 75%;
}

.movie-element__info h3,
.movie-element__actions {
    margin: 10px 0;
}

.movie-element__actions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 150px;
}

.movie-element__actions a {
    margin: 0 10px;
}

.movie-element__actions a img {
    width: 30px;
}

.movie-contaier__edit {
    justify-content: space-evenly;
}

.movie-contaier__edit .movie-image {
    display: flex;
    justify-content: center;
    width: 25%;
}

.movie-contaier__edit .movie-image img {
    height: 100%;
    max-height: 400px;
}

.movie-button {
    text-align: right;
}

.movie-form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.movie-form .movie-form_group {
    width: 100%;
    margin: 20px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.movie-form .movie-form_group div {
    width: calc(50% - 40px);
    display: flex;
    flex-direction: column
}

.movie-form .movie-form_group div label {
    margin-bottom: 5px;
}

.movie-form .movie-form_group.movie-form_submit {
    justify-content: flex-end;
}

.movie-form .movie-form_group.movie-form_submit input {
    background-color: rgb(50, 189, 50);
    border: 1px solid black;
    border-radius: 6px;
    padding: 10px 30px;
    cursor: pointer;
}

.landing-actions {
    padding: 8px;
    border-radius: 5px;
    border: 2.5px solid #E0E1E4;
    box-shadow: 0px 0px 20px -20px;
    cursor: pointer;
    background-color: white;
    transition: all 0.2s ease-in-out 0ms;
    user-select: none;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    color: black;
}

.landing-actions:hover {
    background-color: #F2F2F2;
    box-shadow: 0px 0px 20px -18px;
}

.landing-actions:active {
    transform: scale(0.95);
}

.landing-actions__button{
    margin : 20px 20px 0 0; 
}

.landing-form{
    display: flex;
    flex-direction: column;
    max-width: 350px;
}

.landing-form input{
    margin-bottom: 20px;
}